.features {
  width: 100%; /* Ensure the features section spans the full width */
  margin-top: 40px;
  padding: 0; /* Remove padding around the section */
  display: flex;
  flex-wrap: wrap;
}

.col--6 {
  width: 50%; /* Each column takes up half of the width */
  padding: 0; /* Remove padding between columns */
  margin: 0;
  box-sizing: border-box;
}

.feature {
  font-family: "Inter", sans-serif;
  padding: 20px 10px;
  min-height: 250px;
  background: linear-gradient(18deg, rgba(7, 7, 7, 0.325) 52.75%, var(--ifm-color-primary) 180%);
  text-align: left;
  width: 100%; /* Ensures the feature content uses the full width of its column */
  display: flex; /* Added for aligning the title and description horizontally */
  flex-direction: column; /* Stack title and description vertically */
  margin-bottom: 20px;
  justify-content: space-evenly;
  border-radius: 8px;
}

.featureWrap {
  padding-left: 0;
  padding-right: 1.2rem;
}

.feature h2 {
  margin: 0;
  letter-spacing: 0.35px;
  font-size: 1.8rem;
}

.description {
  font-size: 1rem;
  padding: 20px;
  padding-bottom: 10px;
}

.container {
  width: 100%; /* Ensures the container spans the full width */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.row {
  display: flex;
  width: 100%; /* Ensures the row spans the full width */
  margin: 0; /* Eliminate space between rows */
}

.features .col {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) { /* Adjust breakpoint as necessary */
  .col--6 {
    padding: 0;
  }
}

.buttons {
  text-align: right; /* Aligns the button to the right */
}

.button {
  margin-right: 14px;
}

.heading {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.icon {
  background: rgba(239, 71, 121, .3);
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1.8rem;
  display: block;
}