.features {
  width: 100%; /* Ensure the features section spans the full width */
  max-width: 98%;
  margin-top: 20px;
  padding: 0; /* Remove padding around the section */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.feature {
  margin: 8px;
  font-family: "Inter", sans-serif;
  padding: 20px 10px;
  min-height: 250px;
  background: linear-gradient(18deg, rgba(7, 7, 7, 0.325) 52.75%, var(--ifm-color-primary) 180%);
  text-align: left;
  display: flex; /* Added for aligning the title and description horizontally */
  flex-direction: column; /* Stack title and description vertically */
  justify-content: space-evenly;
  border-radius: 8px;
  /* Remove any border that could be causing lines */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h2 {
  margin: 0;
  border: none;
  letter-spacing: 0.35px;
  font-size: 1.8rem;
}

.description {
  font-size: 1rem;
  padding: 20px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  width: 100%; /* Ensures the row spans the full width */
  margin: 0; /* Eliminate space between rows */
}

.features .col {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) { /* Adjust breakpoint as necessary */
  .col--6 {
    padding: 0;
  }
}

.buttons {
  text-align: right; /* Aligns the button to the right */
}

.button {
  margin-right: 14px;
}

.heading {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.icon {
  background: rgba(239, 71, 121, .3);
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1.8rem;
  display: block;
  /* Remove any border or outline that might be causing lines */
  border: none;
  outline: none;
  box-shadow: none;
}