/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    font-family: 'Inter', sans-serif;
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 48rem;
    color: #2f2f2f;
    background-color: #242526;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 3.35rem;
    color: rgba(239, 71, 121, 1);
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: -1.75px;
}

.subtitle {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgba(253, 245, 248, 0.88);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 40em;
    margin: 0 auto;
    line-height: 2.25rem;
}

.buttons {
    max-width: 50% !important;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
}

.button {
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    padding: 8px 24px;
    width: 12em;
    margin: 10px;
    border: 3px solid rgba(239, 71, 121, 1);
}

.button:hover {
    transition: background 0.3s;
    text-decoration: none;
    color: #2f2f2f;
}

.logo {
    display: none;
}

.docs {
    margin: 0 auto;
    max-width: 1272px;
    padding: 60px 16px 24px;
    font-family: 'Inter', sans-serif;
}

.docs h1 {
    font-size: 3rem;
}

.codeBlock {
    max-width: 100%;
    margin: 0 auto;
}

.libraries {
    margin-top: 20px;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.library {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 8px;
    background-color: #2f2f2f;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.library:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.libraryImage {
    height: 100px;
    max-width: 100%;
    object-fit: contain;
}