/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&display=swap');

:root {
  /* Primary Colors */
  --ifm-color-primary: rgba(239,71,121,1); /* Bright Pink */
  --ifm-color-primary-light: #FF9EBB; /* Light Pink */
  --ifm-color-primary-dark: #750e2d; /* Dark Pink */

  /* Complementary and Neutral Shades */
  --ifm-color-accent: #522E38; /* Deep Mauve, works as a darker, neutral complement */
  --ifm-color-secondary: #FFC2D4; /* Soft Pink, lighter and less saturated */
  --ifm-background-color: #FFE0E9; /* Very Light Pink, ideal for backgrounds */
  --ifm-background-color-dark: #602437; /* Deep Reddish Brown, good for dark mode backgrounds or accents */

  /* Utility Colors */
  --ifm-color-success: #52c41a; /* A fresh green for success messages, not from pink range but provides contrast */
  --ifm-color-error: #f5222d; /* Vivid red for errors, enhancing visibility */
  --ifm-color-warning: #faad14; /* Bright yellow for warnings, stands out in the pink context */
  --ifm-color-info: #1890ff; /* Blue, for informational messages, contrasts well with pink */

  /* Neutral Grays (useful for typography, borders, etc.) */
  --ifm-color-gray: #8A2846; /* This is a grayish pink, quite muted */
  --ifm-color-gray-dark: rgb(86, 90, 98); /* Dark gray, close to charcoal */
  --ifm-color-gray-darker: #262b34ff; /* Even darker, great for high contrast elements */
  --ifm-color-gray-light: #f2f4f4ff; /* Light gray for background contrasts and space */
}

html {
  position: relative;
  min-height: 450px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  outline: 0 !important;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:focus,
a:active {
  color: var(--ifm-background-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

h1, h2 {
  font-family: "Barlow", sans-serif;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  @media print {
    text-shadow: none;
  }
}

/* code blocks */
pre > code {
  font-family: "Inconsolata", monospace;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  overflow: hidden;
  font-weight: 500;
  border: 1px solid hsla(0,0%,100%,.05);
}

code .theme-code-block-highlighted-line {
    background-color: rgba(255, 255, 255, 0.12);
}

div[class*="codeBlockTitle_"] {
  font-family: "Inter", sans-serif;
  color: rgb(153 161 179/1);
  background-color: rgb(35 39 47/1);
  border: 1px solid hsla(0,0%,100%,.05);
  border-bottom: none;
}

.theme-doc-breadcrumbs {
  font-family: "Inter", sans-serif;
}

.docs-introduction {
  width: 60%;
  margin: 0 auto;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
  no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
  no-repeat;
}
