/* Footer CSS */
.pageFooter {
  background-color: var(--outer-space);
  text-align: center;
  color: var(--battleship-gray);
  padding: 30px 0;
  font-weight: bold;
}

.pageFooter .icon {
  color: #c2c3c3;
  font-size: 24px;
  margin: 0 10px;
}

.pageFooter .icon:hover {
  color: #ffffff;
}

.pageFooter p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: var(--battleship-gray);
}

.pageFooter p a {
  color: var(--ifm-color-primary);
  font-weight: 600;
}
/* Footer section CSS */