/* Footer CSS */
.pageFooter {
  background-color: #242526;
  text-align: center;
  color: rgba(204, 204, 204, 0.61);
  font-family: "Inter", sans-serif;
  padding: 20px 0;
  font-weight: bold;
}

.pageFooter .icon {
  color: #c2c3c3;
  font-size: 24px;
  margin: 0 10px;
}

.pageFooter .icon:hover {
  color: #ffffff;
}

.pageFooter p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(204, 204, 204, 0.61);
}

.pageFooter p a {
  color: var(--ifm-color-primary);
  font-weight: 600;
}
/* Footer section CSS */